# Описание проекта
Здесь должно находиться Лого проекта, и его описание. Мотивация, средства. Указать ссылки на используемые ресурсы. Так как ипользуется html, то все картинки должны быть расположены на доступных сервисах

Можно указать, что используется вычислительная платформа Анаконда (Картинки logo Anaconda & Jupyter)

In [2]:
#some initial setup
# Importing pandas
import pandas as pd
# This command makes plots appear in the notebook
%matplotlib inline

# Загрузка данных
Первоначально данные загружаются с ресурса <a href="https://wonder.cdc.gov">CDC WONDER</a> в виде текстовых файлов. Затем эти сырые данные нужно загрузить в память в так называемые фреймы данных <b>pandas</b>:

In [10]:
# Assign filename: file
file = 'datasets/maxTempByMonthYear1999-2011completeCalifornia.txt'

# Import file: data
raw_temp_data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Print the head of the DataFrame
print(raw_temp_data.head())

   Notes       State  State Code  Year  Year Code Month  Month Code  \
0    NaN  California           6  1999       1999   Jan           1
1    NaN  California           6  1999       1999   Jan           1
2    NaN  California           6  1999       1999   Jan           1
3    NaN  California           6  1999       1999   Jan           1
4    NaN  California           6  1999       1999   Jan           1

   Day of Month  Day of Month Code  Avg Daily Max Air Temperature (C)
0             1                  1                              13.35
1             2                  2                              14.78
2             3                  3                              13.77
3             4                  4                              14.32
4             5                  5                              14.89

Теперь нужно избавиться от лишнего, создадим новый фрейм с колонками для дат и максимальной температуры:

In [15]:
california_temp_data = raw_temp_data[['State', 'Year', 'Month Code', 'Day of Month', 'Avg Daily Max Air Temperature (C)']]

In [16]:
california_temp_data.head()

,State,Year,Month Code,Day of Month,Avg Daily Max Air Temperature (C)
0,California,1999,1,1,13.35
1,California,1999,1,2,14.78
2,California,1999,1,3,13.77
3,California,1999,1,4,14.32
4,California,1999,1,5,14.89

In [17]:
california_temp_data.columns = ['state','year', 'month','day','max_temp']

In [18]:
california_temp_data.head()

        state  year  month  day  max_temp
0  California  1999      1    1     13.35
1  California  1999      1    2     14.78
2  California  1999      1    3     13.77
3  California  1999      1    4     14.32
4  California  1999      1    5     14.89